<!DOCTYPE html>
<!--JOURNOUD Lucas / COSTA Julien
//Université Lumière Lyon 2 --> 
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Pizz'Express - Login</title>
</head>
<body>
    <form action="[onshow.cible]" method="post">
        <fieldset>
            <legend>Connexion</legend>
            <label for="id_log">Login</label>
            <input type="text" id="id_log" name="login">
            <label for="id_pwd">Mot de passe</label>
            <input type="password" id="id_pwd" name="passwd">
            <input type="submit" value="Envoyer">
        </fieldset>
    </form>
</body>
</html>
